
# Composer
vendor

# API keys
twitter-*
lastfm-*
discord-*

# output files
*nowplaying.txt

# Usually copy this file from config.php-default
config.php

# Demo files
SSL/Plugins/NowPlaying/nowplaying.txt
SSL/Plugins/NowPlaying/SevenDigital.key
template.html
Demo

# XOUP compiled files
SSL/Structs/SSLSessionAdat.php
SSL/Structs/SSLColumnUcow.php
SSL/Structs/SSLVersionVrsn.php
SSL/Structs/SSLLibraryTrackOtrk.php
SSL/Structs/SSLTrackDeleteUent.php
SSL/Structs/SSLTrackAdat.php
SSL/Structs/SSLColumnUcok.php

# Built versions of the app from macOS/build.sh
SSL Scrobbler.app*
SSL Scrobbler*.zip

# Local crap
.DS_Store
.buildpath
.project
.settings
