
# API keys
twitter-*
lastfm-*

# Usually copy this file from config.php-default
config.php

# Demo files
SSL/Plugins/NowPlaying/nowplaying.txt
SSL/Plugins/NowPlaying/SevenDigital.key

# Local crap
.DS_Store
.buildpath
.project
.settings
