name: Testing sslscrobbler
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        operating-system: ['windows-latest', 'macos-latest']
        php-versions: ['7.3', '7.4', '8.0']
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Setup PHP and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring
          tools: phpunit
        env:
          fail-fast: true
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test with phpunit
        run: phpunit --bootstrap Tests/bootstrap.php Tests
